body{
	//background-image: url(../Images/Background.jpg);
	background-size: cover;
	color: white;
	margin: 0%;
	padding: 0%;
}

video#BackgroundVid { 
  position: fixed;
  top: 43%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  transform: translate(-50%, -50%);
}

/*Navigation Box Declarations*/
.navBar{
	background: rgba(0,0,0,0.8);
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	padding: 20px;
	margin-top: 15%;
	margin-left: 5%;
	align-content: center;
}

.navBar ul{
	list-style-type: none;
}

ul li{
	display: inline;
	padding: 5px;
}

ul li a{
	font-family: NavigationFonts;
	text-decoration: none;
	color: ghostwhite;
	font-size: 30px;
	margin: 3%;
}

/*Top Logo Style Sheet Declarations*/
#nameBanner{
	background: rgba(0,0,0,0.8);
	background-color: black;
	padding: 40px;
	align-content: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#textBanner{
	margin-left: 10%;
	opacity: 1.0;
}

#topLogo{
	font-family: TopLogoFonts;
	color: ghostwhite;
	font-size: 60px;
	white-space: pre;
	padding-left: 50px;
	letter-spacing: 5px;
}

#commentMarks{
	color: ghostwhite;
	font-size: 75px;
	font-family: TopLogoFonts;
	font-style: oblique;
}

#secondaryLogo{
	color: cornflowerblue;
	font-size: 65px;
	font-family: TopLogoFonts;
	letter-spacing: 2px;
	white-space: pre;
}

/*Bottom Footer Area Declarations*/
#contactBanner{
	background: rgba(0,0,0,0.7);
	border-radius: 25px;
	padding: 10px;
	align-content: center;
	float: right;
}

/*Font and Animation Declarations*/
@font-face{
    font-family: TopLogoFonts;
   	src: url(../Fonts/Exo.otf);
}

@font-face{
    font-family: NavigationFonts;
   	src: url(../Fonts/Exo.otf);
}

#cursor{
	border-left: 30px solid;
	white-space: pre;
	padding-top: 20px;
	animation: blinker .8s step-end infinite;
	margin: 20px;
}

@keyframes blinker{
  from, to { border-color: transparent }
  50% { border-color: #F3F8F3; }
}