html{
	background: url(../Images/background_image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    padding: 0%;
    margin: 0%;
}

/*Top Logo Style Sheet Declarations*/
#topBanner{
	width: 100%;
}

#topBannerText{
    padding: 5%;
    margin-left: 5%;
}

#nameLogo{
	font-family: TopLogoFonts;
	color: ghostwhite;
	font-size: 110%;
    letter-spacing: .8vw;
	white-space: pre;
}

#secondaryLogo{
	color: indianred;
	font-size: 110%;
	font-family: TopLogoFonts;
    letter-spacing: .8vw;
	white-space: pre;
}

.link{
	text-decoration: none;
	color: indianred;
	font-style: italic;
	font-weight: 700;
}

/*Font and Animation Declarations*/
@font-face{
    font-family: TopLogoFonts;
   	src: url(../Fonts/Exo.otf);
}

@font-face{
    font-family: NavigationFonts;
   	src: url(../Fonts/Exo.otf);
}

#cursor{
	border-left: 20px solid;
	white-space: pre;
	padding-top: 2px;
	animation: blinker 1.5s step-end infinite;
	margin: 5px;
}

@keyframes blinker{
  from, to { border-color: transparent }
  50% { border-color: #F3F8F3; }
}
