html{
	background: url(../Images/background_image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#contactDiv{
	padding-top: 2%;
	color: ghostwhite;
}

/*Personal Image*/
img{
	width: 20%;
	height: 8%;
	margin-left: 36%;
	margin-top: 2%;
	padding: 2%;
	border-radius: 25%;
	border-color: ghostwhite;
}

#mainContent{
	margin-top: -1%;
	width: 80%;
	margin-left: 10%;
	padding-bottom: 5%;
	background-color: black;
	border-bottom-left-radius: 1%;
	border-bottom-right-radius: 1%;
}

/*Top Logo Style Sheet Declarations*/
#textBanner{
	margin-top: 2;
	margin-left: 10%;
	margin-right: 10%;
	padding: 2%;
}

#name{
	margin-left: 11%;
}

#nameLogo{
	font-family: TopLogoFonts;
	color: ghostwhite;
	font-size: 110%;
	white-space: pre;
}

#secondaryLogo{
	color: indianred;
	font-size: 110%;
	font-family: TopLogoFonts;
	white-space: pre;
}

.link{
	text-decoration: none;
	color: indianred;
	font-style: italic;
	font-weight: 700;
}
p{
	color: ghostwhite;
	font-size: 120%;
	font-family: TopLogoFonts;
	letter-spacing: 3px;
}

.singleCodeIndent{
	margin-left: 3%;
}

#doubleCodeIndent{
	margin-left: 6%;
}

/*Font and Animation Declarations*/
@font-face{
    font-family: TopLogoFonts;
   	src: url(../Fonts/Exo.otf);
}

@font-face{
    font-family: NavigationFonts;
   	src: url(../Fonts/Exo.otf);
}

#cursor{
	border-left: 20px solid;
	white-space: pre;
	padding-top: 2px;
	animation: blinker 1.5s step-end infinite;
	margin: 5px;
}

@keyframes blinker{
  from, to { border-color: transparent }
  50% { border-color: #F3F8F3; }
}
