body{
	//background-image: url(../Images/Background.jpg);
	background-size: cover;
	color: white;
	margin: 0%;
	padding: 0%;
}

video#BackgroundVid { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  transform: translate(-50%, -50%);
}

/*Middle Content Box Declarations*/
.mainContent{
	background: rgba(0,0,0,0.8);
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	padding: 50px;
	margin-top: 15%;
	margin-left: 5%;
	align-content: center;
}

/*Top Logo Style Sheet Declarations*/
#nameBanner{
	background: rgba(0,0,0,0.8);
	background-color: black;
	padding: 40px;
	align-content: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#textBanner{
	margin-left: 12%;
	opacity: 1.0;
}

#topLogo{
	font-family: TopLogoFonts;
	color: #F3F8F3;
	font-size: 60px;
	white-space: pre;
	padding-left: 50px;
}

#commentMarks{
	color: cornflowerblue;
	font-size: 65px;
	font-family: SecondaryLogoFonts;
	font-style: oblique;
}

#secondaryLogo{
	color: cornflowerblue;
	font-size: 55px;
	font-family: SecondaryLogoFonts;
	white-space: pre;
}

/*Bottom Footer Area Declarations*/
#contactBanner{
	background: rgba(0,0,0,0.7);
	border-radius: 25px;
	padding: 10px;
	align-content: center;
	float: right;
}

/*Font and Animation Declarations*/
@font-face{
    font-family: TopLogoFonts;
   	src: url(../Fonts/Exo.otf);
}

@font-face{
    font-family: SecondaryLogoFonts;
   	src: url(../Fonts/Exo.otf);
}

#cursor{
 	padding: 20px;
	border-left: 20px solid #F3F8F3;
	white-space: pre;
	animation: blinker .8s step-end infinite;
	margin: 10px;
}

@keyframes blinker{
  from, to { border-color: transparent }
  50% { border-color: #F3F8F3; }
}